server:
  port: 8080

spring:
  application:
    name: product-service
  datasource:
    url: jdbc:postgresql://postgres:5432/product_db
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.hibernate: DEBUG
    org.springframework.transaction: DEBUG
    org.springframework.orm.jpa: DEBUG
